body {
    background-color: #191919;
    color: #fff;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    color: #2D2D2D;
}

body::-webkit-scrollbar {
    display: none;
}

.btns {
    height: 255px;
    width: 300px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}

button {
    background: transparent;
    border:none
}

.ca-popup {
    display: none;

    z-index: 2;

    height: 330px;
    width: 320px;

    background-color: #fff;
    
    padding: 16px;
    border-radius: 30px;

    position: fixed;
    top: 50%;
    left: 50%;
    
    margin-top: -175px;
    margin-left: -175px;
}

.ca-txt {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin: 4px 0px 2px;
}